#modalServices.modal-services.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-close(data-dismiss='modal')
      .modal-header 
        .modal-img(style='background-image:url(' + require('../../components/images/services-1.jpg') + ')')
      .modal-body
        h6
          | Morbi tincidunt pulvinar auctor.
        p
          | Quisque pharetra ipsum sed consequat feugiat. Vivamus laoreet lectus non nisl rhoncus, nec volutpat erat aliquam. Proin semper nisi enim, ac sagittis quam ultricies ut. Phasellus commodo, mi et commodo ullamcorper, magna mi laoreet mi, ut luctus erat lorem non ex. Maecenas pellentesque non ante id consectetur. Vivamus vitae elit eget justo pellentesque tempor. Aliquam fringilla id metus at interdum. Nullam lacinia ultricies enim sit amet aliquet. Quisque eget sapien arcu.
      .modal-footer
        a(href="#", data-dismiss='modal').close-modal Cancel
        a(href="#").btn Contact us