section.services#services
	.container
		.section-title
			span Fusce eleifend, nulla egetp
			h2
				| Services
				p 02.
		.services__block
			ul.row
				li.col-sm-4
					.services__box
						.services__box-img
						.services__box-title Fluff Matters
						.services__box-text.
							Fusce eleifend, nulla eget placerat auctor, mauris tortor lobortis massa, nec auctor leo neque eu lacus. Cras quis consequat purus, vitae iaculis nulla. Integer at arcu 
						a(href="#", data-toggle="modal" data-target="#modalServices").services__box-link read more
				li.col-sm-4
					.services__box
						.services__box-img
						.services__box-title best materials
						.services__box-text.
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames penatibus et magnis dis parturient montes, nascetur ridiculus
						a(href="#", data-toggle="modal" data-target="#modalServices").services__box-link read more
				li.col-sm-4
					.services__box
						.services__box-img
						.services__box-title choose your own design
						.services__box-text.
							Nam ornare mauris felis, ut commodo ligula dignissim vitae. Curabitur rhoncus justo vitae condimentum volutpat. Vestibulum massa elit, consequat at semper nec
						a(href="#", data-toggle="modal" data-target="#modalServices").services__box-link read more