$sliderFor: 640px;
$sliderFor-desctop: 530px;
$sliderFor-tablet: 320px;
$sliderFor-mobile: 200px;
$sliderNav: 100px;

.modal-portfolio {
	.modal {
		&-dialog {
			width: 1066px;
			@media #{$desctop} {
				width: 880px;
			}
			@media #{$tablet} {
				width: 640px;
			}
			@media #{$mobile} {
				width: 450px;
			}
			@media screen and (max-width: 480px) {
				width: 290px;
			}
			@media screen and (max-width: 360px) {
				width: 280px;
			}
		}
		&-header {
			padding: 0px;
			border: none;
		}
		&-close {
			position: absolute;
			right: 35px;
			top: 15px;
			background: url(../images/close2.png)no-repeat center;
			background-size: contain;
			width: 23px;
			height: 23px;
			cursor: pointer;
			@media #{$desctop} {
				right: 20px;
			}
		}
		&-body {
			padding: 25px;
			background-color: #000;
			@media #{$tablet} {
				padding: 20px;
			}
			@media screen and (max-width: 480px) {
				padding: 15px;
			}
		}
		&-content {
			box-shadow: none;
			border: none;
			border-radius: none;
		}
		&-footer {
			padding: 0px;
			border: none;
			height: 100px;
		}
		&-title {
			color: $main_color;
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 10px;
			border-bottom: 1px solid #7a7a7a;
			@media #{$tablet} {
				font-size: 16px;
			}
			@media #{$mobile} {
				padding-bottom: 6px;
			}
		}
		&-text {
			margin-top: 12px;
			@media #{$mobile} {
				margin-top: 8px;
			}
			p {
				color: $main_color;
				font: 300 normal 16px $font2;
				@media #{$tablet} {
					font-size: 14px;
				}
				@media #{$mobile} {
					font-size: 12px;
				}
			}
		}
	}
	.slick {
		&-for {
			height: #{$sliderFor};
			@media #{$desctop} {
				height: #{$sliderFor-desctop};
			}
			@media #{$tablet} {
				height: #{$sliderFor-tablet};
			}
			@media #{$mobile} {
				height: #{$sliderFor-mobile};
			}
			&__img {
				height: #{$sliderFor};
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@media #{$desctop} {
					height: #{$sliderFor-desctop};
				}
				@media #{$tablet} {
					height: #{$sliderFor-tablet};
				}
				@media #{$mobile} {
					height: #{$sliderFor-mobile};
				}
			}
		}
		&-nav {
			&__img {
				height: #{$sliderNav};
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		&-prev, &-next {
			width: 49px;
			height: 49px;
			border-radius: 50%;
			background-color: #aaa9a9;
			box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
			transition: $main_transition;
			&:hover, &:focus, &:active {
				background-color: $main_color;
				&:before {
					background-color: #373737;
				}
				&:after {
					border-color: #373737;
				}
			}
			&:after, &:before {
				content: '';
				position: absolute;
				transition: $main_transition;
			}
			&:before {
				height: 2px;
				width: 15px;
				background-color: #363535;
				top: calc(50% - 1px);
			}
			&:after {
				width: 0px;
				height: 0px;
				padding: 4px;
				top: calc(50% - 5px);
				border-style: solid;
				border-color: #363535;
				border-width: 0px 2px 2px 0px;
			}
		}
		&-prev {
			z-index: 1;
			left: -350px;
			@media screen and (max-width: 1780px) {
				left: -250px;
			}
			@media screen and (max-width: 1580px) {
				left: -150px;
			}
			@media screen and (max-width: 1380px) {
				left: -60px;
			}
			@media screen and (max-width: 767px) {
				left: -25px;
			}
			@media screen and (max-width: 480px) {
				left: -15px;
			}
			&:before {
				right: 16px;
			}
			&:after {
				right: 21px;
				@include addPrefix(transform, rotate(135deg));
			}
		}
		&-next {
			right: -350px;
			@media screen and (max-width: 1780px) {
				right: -250px;
			}
			@media screen and (max-width: 1580px) {
				right: -150px;
			}
			@media screen and (max-width: 1380px) {
				right: -60px;
			}
			@media screen and (max-width: 767px) {
				right: -25px;
			}
			@media screen and (max-width: 480px) {
				right: -15px;
			}
			&:before {
				right: 18px;
			}
			&:after {
				right: 18px;
				@include addPrefix(transform, rotate(-45deg));
			}
		}
	}
}